<form class="m-5" action="/restaurants/{{ restaurant._id }}/edit" method="POST">
  <div class="ml-5">
    <label for="name">餐廳名稱</label>
    <input class="ml-2" name="name" id="name" type="text" placeholder="請輸入欲修改的中文名稱" value="{{ restaurant.name }}">
    <label class="ml-5" for="name_en">英文名稱</label>
    <input class="ml-2" name="name_en" id="name_en" type="text" placeholder="請輸入欲修改的英文名稱" value="{{ restaurant.name_en }}">
    <label class="ml-5" for="category">餐廳類別</label>
    <input class="ml-2" name="category" id="category" type="text" placeholder="請輸入欲修改的餐廳類別" value="{{ restaurant.category }}">
  </div>
  <div class="ml-5 mt-4">
  <label for="image">餐廳圖片</label>
  <input class="ml-2" name="image" id="image" type="text" placeholder="請輸入欲修改的餐廳圖片" value="{{ restaurant.image }}">
  <label class="ml-5" for="location">餐廳地址</label>
  <input class="ml-2" name="location" id="location" type="text" placeholder="請輸入欲修改的餐廳地址" value="{{ restaurant.location }}">
  <label class="ml-5" for="phone">餐廳電話</label>
  <input class="ml-2" name="phone" id="phone" type="text" placeholder="請輸入欲修改的餐廳電話" value="{{ restaurant.phone }}">
  </div>
  <div class="ml-5 mt-4">
  <label for="google_map">Google Map</label>
  <input class="ml-2" name="google_map" id="google_map" type="text" placeholder="請輸入欲修改的 Google Map 超連結" value="{{ restaurant.google_map }}">
  <label class="ml-4" for="rating">餐廳評分</label>
  <input class="ml-2" name="rating" id="rating" type="text" placeholder="請輸入欲修改的餐廳評分(1-5 顆星)" value="{{ restaurant.rating }}">
  <label class="ml-5" for="description">餐廳敘述</label>
  <input class="ml-2" name="description" id="description" type="text" placeholder="請輸入欲修改的餐廳敘述" value="{{ restaurant.description }}">
  </div>
  <div class="ml-5 mt-4">
    <button class="btn btn-danger btn-sm" type="submit">Save</button>
    <a type="button" class="btn btn-outline-danger btn-sm" href="/restaurants/{{ restaurant._id }}">Back</a>
  </div>
</form>