<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳中(英)文名稱、地區" aria-label="Restaurant Name..." value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{#if restaurants}}

  <form action="/filter?method=PUT" method="POST" class="d-flex mt-5 mx-auto justify-content-between align-items-center" style="max-width: 40vw;" id="filter" onchange="filter.submit()">
    <div class="row">
      <select class="form-select btn btn-outline-danger btn-sm" id="sort" name="sort">
        <option value="default" {{{equal sort 'default' }}}>排序</option>
        <option value="name_asc" {{{equal sort 'name_asc' }}}> 名稱 (A→Z)</option>
        <option value="name_desc" {{{equal sort 'name_desc' }}}> 名稱 (Z→A)</option>
        <option value="rating_asc" {{{equal sort 'rating_asc' }}}> 評分 (1→5)</option>
        <option value="rating_desc" {{{equal sort 'rating_desc' }}}> 評分 (5→1)</option>
      </select>
    </div>
    <div class="row align-items-center">
      <span class="mr-2" style="color: #dc3545; font-size: 16px; font-weight:500;"> 篩選條件： </span>
      <div class="mx-1">
        <select class="form-select btn btn-outline-danger btn-sm" id="category" name="category" >
          <option value="." {{{equal category '.' }}}>類別</option>
          <option {{{equal category '中東料理' }}}>中東料理</option>
          <option {{{equal category '日本料理' }}}>日本料理</option>
          <option {{{equal category '義式餐廳' }}}>義式餐廳</option>
          <option {{{equal category '美式' }}}>美式</option>
          <option {{{equal category '酒吧' }}}>酒吧</option>
          <option {{{equal category '咖啡' }}}>咖啡</option>
        </select>
      </div>
      <div class="mx-1">
        <select class="form-select btn btn-outline-danger btn-sm" id="rating" name="rating">
          <option value="0" {{{equal rating '0' }}}>評分</option>
          <option value="3.5" {{{equal rating '3.5'}}}>≥ 3.5顆星</option>
          <option value="4" {{{equal rating '4'}}}>≥ 4顆星</option>
          <option value="4.5" {{{equal rating '4.5'}}}>≥ 4.5顆星</option>
          <option value="5" {{{equal rating '5'}}}>5顆星</option>
        </select>
      </div>
      <div class="mx-1">
        <a class="btn btn-danger btn-sm" href="/">Clear</a>
      </div>
    </div>
  </form>

<!-- restaurant list -->
<div class="container mt-5 mb-2">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
        <a href="/restaurants/{{ this._id }}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{ this.image }}" alt="{{ this.name }}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{ this.name }}</h6>
              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i>
                {{ this.category }}
              </div>
              <span class="badge badge-pill badge-danger font-weight-normal">
                {{ this.rating }}
                <i class="fas fa-star fa-xs"></i>
              </span>
              <div class="d-flex justify-content-end">
                <a type="button" class="btn btn-outline-danger btn-sm mx-1" href="/restaurants/{{ this._id }}/edit"><i class="fas fa-edit"></i></a>
                <a type="button" class="btn btn-outline-danger btn-sm mx-1" href="/restaurants/{{ this._id }}"><i class="fas fa-info-circle"></i></a>
                <form action="/restaurants/{{ this._id }}?_method=DELETE" method="POST">
                  <button class="btn btn-danger btn-sm mx-1" type="submit" onclick="if(confirm('確認將此餐廳從清單移除？')) return true; else return false"><i class="fas fa-trash-alt"></i></button>
                </form>
              </div>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  
  {{else}}
  <!-- cannot find the restaurant through keyword -->
  <div class="d-flex flex-column align-items-center mt-5 p-5 bg-light">
    <h1 class="p-1">尚未有符合條件的餐廳</h1>
    <p class="p-1 text-center">請點選右上角「新增餐廳」建立你的收藏清單<br>或嘗試輸入其他關鍵字重新搜尋</p>
    <a class="btn btn-secondary btn-sm" href="/" role="button"> back <i class="fas fa-undo"></i></a>
  </div>
  {{/if}}
</div>